<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="4.0.5" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="jQuery" version="2.1.4" targetFramework="portable-net45+win+wp80" />
  <package id="OxyPlot.Core" version="2015.1.889-alpha" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="OxyPlot.Xamarin.Forms" version="2015.1.889-alpha" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Splat" version="1.6.2" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="SQLite.Net.Async-PCL" version="3.0.5" targetFramework="portable-net45+win+wp80" />
  <package id="SQLite.Net-PCL" version="3.0.5" targetFramework="portable-net45+win+wp80" />
  <package id="Toasts.Forms.Plugin" version="1.0.6.18" targetFramework="portable-win+net45+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xam.Plugin.Connectivity" version="1.0.2" targetFramework="portable-net45+win+wp80" />
  <package id="Xamarin.Forms" version="1.4.4.6392" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
</packages>