<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="MonoTouch10" />
  <package id="SQLite.Net.Async-PCL" version="3.0.5" targetFramework="MonoTouch10" />
  <package id="SQLite.Net-PCL" version="3.0.5" targetFramework="MonoTouch10" />
  <package id="Toasts.Forms.Plugin" version="1.0.6.18" targetFramework="MonoTouch10" />
  <package id="WebSocket4Net" version="0.12" targetFramework="MonoTouch10" />
  <package id="Xam.Plugin.Connectivity" version="1.0.2" targetFramework="MonoTouch10" />
  <package id="Xamarin.Forms" version="1.4.3.6376" targetFramework="MonoTouch10" />
</packages>